src/.vs/xamarin-forms-furigana/v15/Server/sqlite3/storage.ide-shm
src/.vs/xamarin-forms-furigana/v15/Server/sqlite3/storage.ide
src/.vs/xamarin-forms-furigana/v15/Server/sqlite3/db.lock
src/.vs/xamarin-forms-furigana/v15/Server/sqlite3/storage.ide-wal
src/.vs/xamarin-forms-bulletScreen/v15/Server/sqlite3/storage.ide-wal
src/.vs/xamarin-forms-bulletScreen/v15/Server/sqlite3/storage.ide-shm
src/.vs/xamarin-forms-bulletScreen/v15/Server/sqlite3/storage.ide
src/.vs/xamarin-forms-bulletScreen/v15/Server/sqlite3/db.lock
