<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.andy840119.xamarin_forms_bulletScreen" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="BulletScreen Demo"></application>
</manifest>